<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
   <nav class="navegacion">
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'historia' %}">Mi historia</a>
        <a href="{% url 'educacion' %}">Educación</a>
        <a href="{% url 'aficiones' %}">Aficiones</a>
       <a href="{% url 'publicaciones' %}">Publicaciones</a>
    </nav>
    <h1>Mi Educación</h1>

    <div>
        <p>
            En la escuela estudié en ...
        </p>
        <img class="imagen" src="{% static 'imagenes/colegio.jpg' %}" alt="imagenColegio">
    </div>
</body>
</html>