<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estudiantes</title>
</head>
<body>
<h1>Estudiantes por búsqueda</h1>
<form method="get"> {% csrf_token %}
    <input type="text" id="nombre" name="nombre" placeholder="Nombre estudiante:">
    <button type="submit">Buscar</button>
</form>

<h3> Resultados de la búsqueda </h3>
    <ul>
        {% for e in estudiantes %}
            <li>
                {{ e.primerNombre }} {{ e.apellido }}
            </li>
        {% endfor %}
    </ul>

</body>
</html>